<!DOCTYPE html>
<html>

<head>
    <title>Đăng nhập</title>
</head>

<body>
    <h1>Đăng nhập</h1>
    <form action="/login" ; method="POST">
        <label for="username">Tài khoản:</label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Mật khẩu:</label>
        <input id="password" name="password"><br>

        <input type="submit" value="Đăng nhập">
    </form>
</body>

</html>